/*TAGS-DEFAULT*/
body {
    background-color: rgb(36, 34, 34)!important;
    color: #fff;
    font-family: 'Lucida Sans', sans-serif;
    letter-spacing: 0.2rem;
}

a {
    text-decoration: none;
    text-transform: none;
}

footer {
    background-color: rgb(51, 82, 185);
}

form {
    margin-bottom: 2rem;
}

label{
    color: #fff;
}

aside {
    color: #fff;
    margin-top: 1.5rem;
}

/* DIVS */
.divCarrito {
    background-color: #fff;
    color: black;
    border: solid rgb(51, 82, 185);
    border-radius: 5px;
    width: 25rem;
    height: 40rem;
    margin-left: 13rem;
    margin-top: 3rem;
}

.cantidad {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
    margin-right: 10px;
  }

#totalCarrito {
    margin:1rem;
    padding: 1rem;
    color: #fff;
    width: 16rem;
    height: 5rem;
    border-radius: 0.2rem;
    background-color: rgba(95, 95, 134, 0.808);
}
.divLogo {
    display: none;
    border: solid #fff;
    background-color: rgba(95, 95, 134, 0.808);
    color:#fff;
    border-radius: 10px;
    margin: 0.5rem;
    margin-right: 9rem;
    width: 20rem;
    height: 6rem;
    /* display: inline-block; */
}

#linkMp {
    color: #fff;
}
.divInsta {
    display: inline-block;
    width: 6rem;
    height: 3.5rem;
    margin: 3.5rem;
}

#boton-vaciar {
   background-color: rgb(64, 107, 248);
   color: #fff;
}

#btn-comprar {
    background-color: rgb(64, 107, 248);
    color: #fff;
    }

#btn-comprar:hover,#boton-vaciar:hover {
    background-color: rgba(3, 8, 34, 0.801);
}
 
.boton-eliminar {
    background-color: #fff;
}
/*MAIN*/
.mainClase {
    background-color: black;
}
/*TEXTOS VARIOS*/
.parrafoCuotas {
    color: #fff;
}

.instagramText {
    color: #fff;
    padding: 1rem;
}

.logo {
    margin: auto;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    }

/*ID DE LAS CARDS*/
.agusCard{
    display: none;
    margin: 1rem;
    color: #000;
    }

.itemList {
    display: none;
}
/*CLASS CARRITO*/    
.carrito {
    display: inline-block;
    margin: auto;
}
/*IMG DEL INSTAGRAM*/
.imgInsta {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: auto;
}

.imgInsta:hover {
    background: rgba(255, 255, 255, 0.377);
    border-radius: 5px;
}

/*HEADER Y MENU*/
#btn-menu {
    display: none;
}

.iconoMenu {
    height: 40px;
    width: 40px;
}

header {
    font-size: 25px;
    width: 100%;
    height: 100%;
    background: rgb(51, 82, 185);
    }
    
header label {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu {
    margin-left: 4rem;
} 

.menu li a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
}

.menu ul {
    list-style:none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: flex-start;
}

.menu ul li {
    background-color: rgb(51, 82, 185);
}

.menu ul a {
    display: block;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.menu ul li {
    position: relative;
    float:left;
    margin: 0%;
    padding: 0%;
}

.menu ul ul {
    display: none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

.menu ul ul li {
    float: none;
    width: 175px;
}

.menu ul ul a {
    line-height: 120%;
    padding: 10%;
}

ul.horizontal li {
    display: block;
    float: left;
    padding: 0%;
    margin: 0%;
    
}

.menu ul li:hover > ul {
    display:block;
}
/*fin del header*/

/*MENU RESPONSIVE*/
@media (max-width:768px) {
    header label {
        display: block;
    }
    
    .menu {
        position: absolute;
        background: #fff;
        width: 50%;
        margin-left: -50%;
        transition: all 0.5s;
    }
    
    .menu ul {
     flex-direction: column;
    }

    .menu li {
        border-top: 2px solid #fff;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}