.btn-subir {
    width: 5rem;
    height: 5rem;
    background-color: rgba(35, 129, 192, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.btn-subir a {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.botonesHeader {
    background-color: #fff;
    width: 7rem;
    height: 3rem;
    margin:0.5rem;
    font-size: 1rem;
}

.botonesHeader:hover {
    color: #fff;
}
 
.btn-suma {
    background-color: #fff;
    margin:1rem; 
}

.boton-eliminar {
    background-color: #fff;
}