
.botonesHeader {
    background-color: #fff;
    width: 7rem;
    height: 3rem;
    margin:0.5rem;
    font-size: 1rem;
}

.botonesHeader:hover {
    color: #fff;
}
 
.btn-suma {
    background-color: #fff;
    margin:1rem; 
}

.boton-eliminar {
    background-color: #fff;
}