.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #000;
    height: 10rem;
}

.divInstagram {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divInstagram a i {
    text-decoration: none;
    color: white;
}

.divCopiright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    text-align: center;
}

.btn-subir {
    background-color: rgba(35, 129, 192, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    height: 5rem;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
}
